:root {
    --color-primary: #6741d9;
    --color-primary-light: #7950f2;
    --color-text: #dee2e6;
    --color-text-dark: #adb5bd;
    --color-background-100: #343a40;
    --color-background-500: #2b3035;
    --color-background-900: #212529;
    --color-red: #fa5252;
    --color-red-dark: #e03131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
    color: var(--color-text);
    background-color: var(--color-background-900);
    padding: 2.4rem;
}
  

.app{
    display: grid;
    grid-template-rows: 80px 1fr;
    row-gap: 12rem;
}

.nav{
    background-color: blueviolet;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    vertical-align: middle;
}

.logo{
    font-size: 22px;
    font-weight: 900;
    padding-left: 3rem;
    padding-right: 16rem;
}

.search{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #b4a8d9;
    flex: 1;
    border-style: none;
    font-size: 17px;
    color: white;
    outline: none;
    transition: all 0.8s;
}
.search::placeholder{
    color: rgb(243, 218, 218);
}
.search:focus{
    position: relative;
    bottom: 1px;
    right: 1px;
}

.result, .loader{
    font-size: 19px;
    padding-right: 3rem;
    padding-left: 16rem;
}

.loader{
    margin-top: 6rem;
    margin-left: 3rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 3rem;
}

.box-list{
    background-color:#343a40;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.box-list::-webkit-scrollbar{
    width: 8px; 
}
.box-list::-webkit-scrollbar-track{
    background: var(--color-background-900);
    border-radius: 10px;
}
.box-list::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}
.box-list::-webkit-scrollbar-thumb:hover{
    background: #555;
}


.movie{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 30px;
    height: 100px;
    border-bottom: #adb5bd solid 1px;
    border-bottom-color: var(--color-background-900);
}
.movie:hover{
    background-color: #2b3035;
}

.poster{
    width: 50px;
}

.description{
    padding-left: 30px;
    font-size: 16px;
    width: 400px;
}

.description p{
    font-size: 13px;
    padding: 5px 20px;
}

.close-open-btn{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background-color: var(--color-background-900);
    color: white;
    position: absolute;
    left: 47rem;
    top: 4px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summury{
    padding: 20px;
    background-color: #4b4848;
    border-radius: 7px;
}

.summury-title{
    margin-top: 10px;
    padding: 20px;
    font-size: 17px;
}

.average, .movie-ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.average strong{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.movie-ratings p{
    padding-right: 20px;
}

.details-container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #22272c;
}

.movie-authors-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/*// const tempMovieData = [
//   {
//     imdbID: "tt1375666",
//     Title: "Inception",
//     Year: "2010",
//     Poster:
//       "https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg",
//   },
//   {
//     imdbID: "tt0133093",
//     Title: "The Matrix",
//     Year: "1999",
//     Poster:
//       "https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg",
//   },
//   {
//     imdbID: "tt6751668",
//     Title: "Parasite",
//     Year: "2019",
//     Poster:
//       "https://m.media-amazon.com/images/M/MV5BYWZjMjk3ZTItODQ2ZC00NTY5LWE0ZDYtZTI3MjcwN2Q5NTVkXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_SX300.jpg",
//   },
  
// ];

// const tempWatchedData = [
//   {
//     imdbID: "tt1375666",
//     Title: "Inception",
//     Year: "2010",
//     Poster:
//       "https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg",
//     runtime: 148,
//     imdbRating: 8.8,
//     userRating: 10,
//   },
//   {
//     imdbID: "tt0088763",
//     Title: "Back to the Future",
//     Year: "1985",
//     Poster:
//       "https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg",
//     runtime: 116,
//     imdbRating: 8.5,
//     userRating: 9,
//   },
// ];*/